@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

:root {
    /* to prevent text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */


    /* some variables */
    --main-color: white;
    --dark-color: #2e2e2e;;

    --container-main-color: rgb(0, 182, 182);
    --container-dark-color: rgb(0, 71, 71);

    --title-bar-main-color: #e1e1e1;
    --title-bar-dark-color: black;

    --font-main-color: var(--dark-color);
    --font-dark-color: var(--main-color);

}

body {
    min-width: 100vw;
    min-height: 100vh;

    background-color: var(--dark-color);
    color: var(--font-dark-color);

    flex-direction: column;
    display: flex;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background-color: var(--title-bar-dark-color);
    color: var(--font-dark-color);
}

.nav { 
    /* nothing special */
    font-size: 24px;
}

.nav-item {
}

a {
    text-decoration: none;
    color: var(--font-dark-color);

    margin-left: 2vw;
}

a:hover {
    background-color: transparent;
    color: teal;

}


main {
    display: flex;
    align-items: center;
    justify-content: center;

    /* TODO: in future make this for 600px wide screens only */
    max-height: 100vh;
    flex: 1;
}


.box {

    padding: 3rem;

    background-color:  var(--container-main-color);
    border-radius: 10px;

    box-shadow: 0px  1px 4px teal;


}

p {
    font-family: 'Space Mono', monospace;
}

.paragraph {

    text-align: center;
    color: var(--font-main-color);

    font-size: 24px;

}





.container {
    background-color: var(--dark-color);
    padding: 0.6rem;
}

.menu {
    display: none;
}


@media only screen and (max-width: 620px) {
    .box {
        margin: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .paragraph {
      font-size: 16px;
    }

    .menu {
        display: inline-block;
    }


    .nav {
        position: absolute; 
        left: -100%;

        width: 100vw;
        height: 100vh;
    }
}


